<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewFireBase.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B14AD8D92519C28F00505E77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B14AD8EF2519C29000505E77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B14AD8FA2519C29000505E77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
