<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ServiceProvider.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SwiftUISample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B141114D24F7C79000D92A00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1EF34FF24ECD6980042666A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1EF351824ECD69B0042666A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1EF352324ECD69B0042666A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
