<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672072923491-a04b4dtgvgu9qlqpd40d5tqgptv1jmbv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672072923491-a04b4dtgvgu9qlqpd40d5tqgptv1jmbv</string>
	<key>API_KEY</key>
	<string>AIzaSyCanxFA5GGNQNlfNKQgBRkiR5QgTTparyk</string>
	<key>GCM_SENDER_ID</key>
	<string>672072923491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Fundsindia.FireBaseConfigure</string>
	<key>PROJECT_ID</key>
	<string>fir-configure</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-configure.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672072923491:ios:4f2bb2bb2c7aaf2f6f3b56</string>
	<key>DATABASE_URL</key>
	<string>https://fir-configure.firebaseio.com</string>
</dict>
</plist>