<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Services.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WidgetExtensionExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WidgetSample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B1CFF4A624DC306C00D72371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1CFF4BC24DC306E00D72371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1CFF4C724DC306E00D72371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1CFF4DD24DC309700D72371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
